html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --main-color: #60B2E5;
    --white-color: #F9F6EE;
}

*,*::after,*::before{
    box-sizing: inherit;
    font-family: inherit;
}

body{
    margin: 0;
    font-family: 'Montserrat','Arial','sans-serif';
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--white-color);
    
}

.header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: var(--white-color);
    background-color: var(--main-color);
}

.header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
}

.header a{
    text-decoration: none;
    color: var(--white-color);
    transition: 0.5s;
    font-size: 18px;
}

.header a:hover{
    color: black;
    
}

.header li{
    transition: 0.5s;
}

.header li:hover{
    transform: scale3d(1.5,1.5,0.3);
    -webkit-transform: scale3d(1.5,1.5,0.3);
}

.header h1{
    font-size: 50px;
    transition: 0.5s;
}

.header h1:hover{
    transform: rotateX(360deg);
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 50px 0px;
    height: 100%;
}

.about-me-left img{
    height: 400px;
}

.about-me-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 40px;
    width: 25%;
    height: 100%;
    text-align: justify;
}

.about-me-right h2{
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}


 .about-me-right h2:after, h2:before{
    content: "";
    position: absolute;
    width: 0%;
    display: block;
    height: 1px;
    transition: all 0.3s ease-in;
} 
.about-me-right h2:hover::after{
    width: 130px;
    height: 1px;
    background-color: var(--main-color);
}

.about-me-right h2:hover::before{
    width: 130px;
    height: 1px;
    background-color: var(--main-color);
}

#hobbies{
    margin: 50px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--white-color);
    padding-bottom: 50px;
}

.hobbies-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hobbies-card{
    padding: 20px;
    border: 2px solid var(--white-color);
    margin: 10px;
    border-radius: 10px;
    width: 30%;
    text-align: justify;
    height: 330px; 
}

.hobbies-card img{
    width: 50px;
}

#skills{
    width: 80%;
    text-align: center;
}
.skill-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    transition: 0.5s;
    width: 300px;
    height: 200px;
    perspective: 1000px;
   
}

.skill-card-inner{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
     background-color: var(--main-color);
    color: var(--white-color);
    font-size: 40px;
    font-weight: bold;
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

.skill-card:hover .skill-card-inner{
    transform: rotateY(180deg);
}

.skill-card-front, .skill-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-card-back{
    transform: rotateY(180deg);
}

.skill-card img{
    width: 100px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact{
    background-color: var(--main-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 340px;
    height: 440px;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px black;
    margin: calc(50vh - 220px) auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form h2{
    margin: 10px;
    padding-bottom: 10px;
    width: 180px;
    border-bottom: 3px solid black;
}

.form input{
    width: 100%;
    padding: 10px;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid #78788c;
}

.form input:focus{
    border-bottom: 2px solid black;
}

.form label{
    margin-top: 30px;
}

.form button{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    background-color: var(--main-color);
    color: white;
    height: 40px;
    padding: 10px;
    border-radius: 2px;
    transition: all 0.3s;
}

.form button:hover{
    background-color: gray;
}




@media(max-width:450px){

    .header h1{
        font-size: 30px;
    }
    #about-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me-right{
        width: 90%;
    }

    .hobbies-content{
        display: flex;
        flex-direction: column;
    }

    .hobbies-card{
        width: 90%;
        height: 370px;
    }

    .row{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:450px) and (max-width:700px){

    #about-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me-right{
        width: 90%;
    }

    .hobbies-content{
        display: flex;
        flex-direction: column;
    }
    .hobbies-card{
        width: 65%;
    }

    .row{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:700px) and (max-width:1000px){

    .about-me-right{
        width: 60%;
    }
    .row{
        display: flex;
        flex-direction: column;
    }

    .hobbies-content{
        display: flex;
        flex-direction: column;
    }

    .hobbies-card{
        width: 50%;
        height: 300px;
    }
}

@media (min-width: 1000px) and (max-width:1200px){
    #skills{
        width: 100%;
    }

    .hobbies-card{
        height: 350px;
    }
}

